.container() {
  width: 280px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 768px;
    padding: 0 20px;
  }
  @media @desktop-widths {
    width: 1200px;
    padding: 0;
  }
}
.container-main() {
  @media @tablet-widths {
    padding: 0;
  }
}
.container-inner() {
  @media @tablet-widths {
    width: 648px;
    padding: 0 60px;
  }
}
.container-form() {
  @media @desktop-widths {
    width: 960px;
    padding: 0 120px;
  }
}
.btn() {
  display: block;
  box-sizing: border-box;
  font-family: @base-family;
  font-weight: @bold;
  color: @white;
  text-transform: @uppercase;
  background-color: @blue;
  text-decoration: @link-decor-reset;
}
.list-style-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-style-reset() {
  margin: 0;
  padding: 0;
}
