body {
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: @black-color;
  font-style: normal;
  background-color: @white-color;
}

img {
  max-width: 100%;
  height: auto;
}
