.advantages {
  width: 100%;
  margin-bottom: 30px;
  background-color: @grey;
}
.advantages__wrapper {
  padding: 27px 35px;
}
.advantages__heading {
  .text-style-reset();
  margin-bottom: 10px;
  font-family: @base-family;
  font-size: @heading-font-size;
  line-height: @heading-lh;
  font-weight: @bold;
  text-transform: @uppercase;
  text-align: center;
  color: @black;
}

.advantages__text {
  .text-style-reset();
  font-family: @base-family;
  font-size: @base-font-size;
  line-height: @base-lh;
  font-weight: @normal;
  text-transform: @uppercase;
  text-align: center;
  color: @black;
}

.advantages {
  span {
    display: block;
    margin-bottom: 16px;
    color: @black;
    text-align: center;
  }
}

@media @tablet-widths {
  .advantages {
    margin-bottom: 56px;
  }
  .advantages__flex {
    display: flex;
  }
  .advantages__wrapper {
    padding: 43px 46px;
  }
  .advantages__heading {
    font-size: @big-font-size;
  }
  .advantages {
    span {
      margin-bottom: 23px;
    }
  }
}

@media @desktop-widths {
  .advantages{
    margin-bottom: 55px;
  }
  .advantages__flex {
    display: flex;
  }
  .advantages__heading {
    padding: 0 89px;
    margin-bottom: 13px;
    margin-top: 9px;
    font-size: @big-font-size;
  }
  .advantages {
    span {
      margin-bottom: 23px;
    }
  }
  .advantages__text {
    margin-bottom: 39px;
  }
}
