.advantages {
  .container();
}
.icon-house {
background-image: url(../img/icon-house.svg) no-repeat;
}

.advantages-list {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;


}

.advantages-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
}

.advantages-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
