.inner-page-main {
  .container();
  .clearfix();
}

fieldset {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

input::-webkit-input-placeholder {
  color: @black-color;
  font-size: 18px;
  font-weight: bold;
 }

 .forms {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
 }

.form__user {
  list-style: none;
  // border-bottom: 1px solid #e5e5e5;
  padding-left: 0;
  margin-bottom: 0;
  .form__user--legend {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
    padding: 0 50px;
  }

  .form__user--name,
  .form__user--surname,
  .form__user--middle-name {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    vertical-align: middle;
  }

  .form__user--name input[type="text"],
  .form__user--surname input[type="text"],
  .form__user--middle-name input[type="text"] {
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: none;
    background-color: #e5e5e5;
    color: @black-color;
  }

  .form__user--name input[type="text"]:nth-of-type(1) {
    width: 190px;
  }
  .form__user--surname input[type="text"]:nth-of-type(1) {
    width: 140px;
  }
  .form__user--middle-name input[type="text"]:nth-of-type(1) {
    width: 141px;
    margin-bottom: 25px;
  }

  .form__user--left {
    display: block;
    text-transform: uppercase;
    float: left;
    font-size: 14px;
    line-height: 26px;
    line-height: 50px;
  }

}

.form-contact {
  margin-bottom: 27px;
  .form-contact__name {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

  }
  .form-contact__phone {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }

  /*.icon-tel {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: #e6e6e6;

  }
  .icon-tel:before {
    content: "";

  }*/

  input[type="tel"],
  input[type="email"] {
    padding: 20px;
    width: 240px;
    background-color: #e5e5e5;
    border: 0;
    margin-top: 15px;
    margin-bottom: 12px;
  }

  .contact__error {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    color: #ff5c5c;
    margin-bottom: 24px;
  }

  .form-contact__email {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;

  }
  label,
  span {
    padding-left: 22px;
  }
}

.form-feeling {
  margin-bottom: 25px;

  .form-feeling__name {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 30px;
  }
  .form-feeling__variant {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: @black-color;
    padding: 20px 0px 20px 70px;
  }
  ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      list-style: none;
  }

  ul li {
    color: @black-color;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
  }
  ul li input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }

  ul li label {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
    cursor: pointer;
    // -webkit-transition: all 0.25s linear;
  }

  ul li:hover {
    color: @black-color;
  }

  ul li .check {
    display: block;
    position: absolute;
    background-color: #f2f2f2;
    // border: 5px solid #f2f2f2;
    border-radius: 100%;
    height: 57px;
    width: 57px;
    top: 5px;
    left: 0;
    z-index: 5;
  }

  ul li:hover[checked]{
    background-color: #333333;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 19px;
    left: 19px;
    margin: auto;
  }

  input[type=radio]:checked ~ [checked]{
    background-color: #d5d5d5;
  }

  input[type=radio]:checked ~ .check::before{
  background: #a4a4a4;
}

// input[type=radio]:checked ~ label{
//   color: #0DFF92;
// }

input[type=radio]:checked ~ .check:hover{
background: #0DFF92;
}

ul li:last-of-type {
  margin-bottom: 25px;
}

}

.form-lions {
  margin-bottom: 25px;
  legend {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 30px;
    padding: 20px 0px 20px 20px;

  }
  label {
    display: inline-block;
    width: 240px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 25px;
  }

  ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      list-style: none;
  }

  ul li {
    color: @black-color;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

  }
  ul li input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  ul li label {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
    cursor: pointer;
    // -webkit-transition: all 0.25s linear;
  }

  ul li:hover {
    color: @black-color;
  }

  ul li .check {
    display: block;
    position: absolute;
    background-color: #f2f2f2;
    // border: 5px solid #f2f2f2;
    border-radius: 10%;
    height: 57px;
    width: 57px;
    top: 5px;
    left: 0;
    z-index: 5;
  }

  ul li:hover[checked]{
    background-color: #333333;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 19px;
    left: 19px;
    margin: auto;
  }

  input[type=radio]:checked ~ [checked]{
    background-color: #d5d5d5;
  }

  input[type=radio]:checked ~ .check::before{
  background: #a4a4a4;
}

// input[type=radio]:checked ~ label{
//   color: #0DFF92;
// }

input[type=radio]:checked ~ .check:hover{
background: #0DFF92;
}

ul li:last-of-type {
  margin-bottom: 25px;
}

}

.form-commit {
  border-bottom: 0;
  label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
      border-bottom: 0;
  }
  [type="texteria"]{
    background-color: #f2f2f2;
    border: 0;
    width: 100%;
    height: 160px;
    resize: none;
  }
  textarea::-webkit-input-placeholder {
    color: @black-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding: 10px;

   }
}

@media @tablet-widths {
  .forms {
    .form__user {
      width: 50%;
      order: 3;

  }

  .form-contact {
    display: block;
    padding: 0;
    margin: 0;
    width: 50%;
    order: 2;

  }

  .form-feeling {
    order: 1;
    width: 50%;
  }

}
}

@media @desktop-widths {

}
