.inner-page-main {
  .container();
  .clearfix();
}
.inner-intro {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.inner-intro img {
  display: block;
  width: 320px;
  background-image: url(img/text-sedona.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}

.inner-intro b {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.inner-intro p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: lighter;
}
