.intro {
  .container();
}

.intro {
  h1 {
    font-size: 18px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  img {
    position: relative;
    top: -30px;
  }
}
