.intro {
  .container();
}

.intro {
  h1 {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }


}
