.logo__img {
  position: absolute;
  top: 219px;
  left: 50%;
  transform: translateX(-50%);
  width: 103px;
  height: 84px;
}

@media @tablet-widths {
  .logo__img {
    margin-top: 10px;
    top: -15px;
    width: 103px;
    height: 95px;
  }
}

@media @desktop-widths {
  .logo__img {
    position: absolute;
    width: 190px;
    // height: 95px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    top: -10px;
    left: 50%;
    margin-top: 10px;
  }
}
