@media @tablet-widths {
  .main-heaader {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
  }
}

.main-header__logo {
  position: relative;
  height: 56px;
  width: 100px;
  margin: 0 auto;
}
