.main-footer {
  .container();
  .clearfix();
}

.footer-hashtag {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  a {
    text-decoration: none;
    color: @black-color;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.footer-social {
    float: left;
    width: 320px;
    text-align: center;
}

.footer-social {
    margin: 0 auto;;
    margin-bottom: 40px;
}

.social-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 2px;
    background: @blue-color;
    font-size: 0;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    max-width: 180px;
    margin: 0 auto;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright .btn {
    margin-right: 0;
    font-size: 0;
}

@media @tablet-widths {
  .footer-hashtag {
    display: inline-block;
    float: left;
    line-height: 60px;
  }
  .footer-social {
    display: inline-block;
    float: left;

  }
  .footer-copyright {
    display: inline-block;
    float: left;
    line-height: 60px;
  }

}

@media @desktop-widths {
}
