.main-header {
  min-height: 280px;
  border: 3px solid red;
}

.main-header__logo {
  height: 56px;
  width: 100px;
  margin: 0 auto;
}

@media @tablet-widths {
  .main-header {
    position: relative;
    min-height: 56px;
    margin: 0 auto;
  }
}

@media @desktop-widths {
  .main-header {
    position: relative;
    min-height: 780px;
    width: 1200px;
  }
  .main-header__logo {
    height: 56px;
  }
  .main-nav__list {
    min-height: 56px;
  }
  .main-nav__list li {
    float: left;
  }
}
