.main-header {
  position: relative;
  min-height: 500px;
  // min-height: 907px;
  margin: 0 auto;
}

.main-header__logo {
  height: 56px;
  width: 100px;
  margin: 0 auto;
}

@media @tablet-widths {

  .main-header__logo {
    position: relative;
    top: -56px;
    height: 0px;
    width: 100px;
    margin: 0 auto;
  }
}

@media @desktop-widths {
  .main-header {
    position: relative;
    min-height: 780px;
    width: 1200px;
    min-height: 645px;
  }
  .main-header__logo {
    height: 0px;
  }

}
