.main-nav__list {
  display: block;
  background-color: @blue-color;
  text-align: center;
  border-bottom: 1px solid #678fa8;
}

.main-nav__item {
  a {
    display: block;
    font-family: @font-face;
  }
}
