.map {
  .container();
  margin-bottom: 40px;
}

@media @tablet-widths {
  .map {
    width: 100%;
  }
}

@media @desktop-widths {
  .map {
    width: 1200px;
  }
  .map img {
    width: 100%;
    min-height: 350px;
  }
}
