.promo-video {
  .container();
  .clearfix();
}

.promo-video .promo-video__name {
  display: block;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 35px;
}

.promo-video .promo-video__text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.promo-video {
  margin-top: 60px;
}

@media @tablet-widths {

  .promo-video {

    .promo-video__name {
    display: block;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 35px;
    }
    .promo-video__text {
      display: block;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      padding: 0 110px;
      margin-bottom: 110px;
    }
  }
}

@media @desktop-widths {

}
