.promo-video {
  .container();
  .clearfix();
}

.promo-video {
  margin-top: 40px;
  .promo-video__name {
    display: block;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .promo-video__text {
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media @tablet-widths {

  .promo-video {
    margin-bottom: 75px;


    .promo-video__name {
    display: block;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 35px;
    }
    .promo-video__text {
      display: block;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      padding: 0 90px;
      margin-bottom: 110px;
    }
    .promo-video__player {
      img {
        width: 100%;
        height: 500px;
      }
    }

  }
}

@media @desktop-widths {
  .promo-video {
    margin-bottom: 75px;


    .promo-video__name {
    display: block;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 35px;
    }
    .promo-video__text {
      display: block;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      padding: 0 355px;
      margin-bottom: 80px;
    }
    .promo-video__player {
      img {
        width: 800px;
        height: 500px;
        margin: 0 auto;
      }
    }

  }



}
