.promo--true-city {
  padding-bottom: 50px;
}
.promo__wrapper {
  padding: 42px 2px;
  background-color: @blue;
}
.promo__img {
  img {
    background-color: #a78b7f;
    width: 100%;
    height: 259px;
  }
}

.promo__heading {
  .text-style-reset();
  margin-bottom: 10px;
  font-family: @base-family;
  font-size: @heading-font-size;
  line-height: @heading-lh;
  font-weight: @bold;
  text-transform: @uppercase;
  text-align: center;
  color: @white;
}

.promo__text {
  .text-style-reset();
  margin-top: 15px;
  padding: 0 30px;
  font-family: @base-family;
  font-size: @base-font-size;
  line-height: @base-lh;
  font-weight: @normal;
  text-transform: @uppercase;
  text-align: center;
  color: @white;
}

.promo {
  span {
    display: block;
    margin-bottom: 10px;
    color: @white;
    text-align: center;
  }
}

@media @tablet-widths {
  .promo {
    display: flex;
    justify-content: center;
  }
  .promo__wrapper {
    box-sizing: border-box;
    height: 259px;
    outline: 2px solid red;
    margin-right: 3px;
  }
  .promo__heading {
    margin-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .promo {
    span {
      margin-bottom: 18px;
    }
  }
  .promo__text {
    margin-bottom: 0;
  }
  .promo__img {
    img {
      width: 512px;
      height: 259px;
      outline: 2px solid black;
    }
  }
  .promo--true-city {
    margin-bottom: 0;
  }

  .promo__heading {
    font-size: @big-font-size;
  }
  .promo__img--devil-bridge {
    order: -1;
  }
}

@media @desktop-widths {
  .promo {
    display: flex;
    justify-content: center;
  }
  .promo__wrapper {
    width: 400px;
    box-sizing: border-box;
    height: 256px;
  }
  .promo__img {
    height: 256px;
  }
  .promo--true-city {
    margin-bottom: 0;
  }
  .promo__heading {
    margin-top: 15px;
    padding: 0 94px;
    font-size: @big-font-size;
  }
  .promo {
    span {
      margin-bottom: 27px;
    }
  }
  .promo__text {
    padding: 0 55px;
  }
  .promo__img--devil-bridge {
    order: -1;
  }
}
