.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.search__heading {
  .text-style-reset();
  margin-bottom: 17px;
  font-family: @base-family;
  font-size: @big-font-size;
  line-height: @heading-lh;
  font-weight: @bold;
  text-transform: @uppercase;
  text-align: center;
  color: @black;
}

.search__text {
  .text-style-reset();
  padding-bottom: 36px;
  font-family: @base-family;
  font-size: @base-font-size;
  line-height: @medium-lh;
  font-weight: @normal;
  text-transform: @uppercase;
  text-align: center;
  color: @black;
}

.btn {
  .btn();
  font-size: 21px;
  line-height: 26px;
}

.search__btn {
  width: 100%;
  height: 57px;
  padding: 20px 45px;
  text-align: center;
}

@media @tablet-widths {
  .search {
    padding-bottom: 59px;
  }
  .search__heading {
    margin-bottom: 32px;
    font-size: @photo-font-size;
  }
  .search__text {
    width: 299px;
    padding-bottom: 17px;
  }
  .search__btn {
    width: 456px;
    margin-bottom: 0;
  }

}
@media @desktop-widths {
  .search {
    padding-bottom: 67px;
  }
  .search__heading {
    margin-bottom: 32px;
    font-size: @photo-font-size;
  }
  .search__text {
   padding-bottom: 44px;
    width: 400px;
  }
  .search__btn {
    width: 456px;
  }
}
